@model Act2_RolesUsuario.Models.ViewModels.AlumnoViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout="_Layout"
}
<h1>Agregar alumnos al grupo</h1>
<form method="post" action="~/Home/AgregarAlumno">
    @if (User.IsInRole("Director"))
    {
        <label>Asignar alumno al docente: <input type="text" asp-for="Maestro.Nombre" /></label>
    }
    <br />
    <label>N&uacute;mero de control del docente:</label> <input id="txtdisplay" type="number" asp-for="Maestro.NumControl" readonly />
    <br />
    <label >N&uacute;mero de control del alumno:</label>
    <input type="text" asp-for="Alumno.NoControl" required />
    <br />
    <label >Nombre completo del alumno:</label>
    <input type="text" asp-for="Alumno.Nombre" required />
    <br /><br/>
    @Html.ValidationSummary()
    <input type="submit" value="Agregar" />

    <a href="~/Home/ListaAlumnos/@(Model.Maestro.IdMaestro)">Cancelar</a>
</form>