@model Act2_RolesUsuario.Models.Maestro
@{
    Layout = "_Layout";
}

    <h2>Lista de alumnos del maestro @Model.Nombre</h2>
    <a href="~/Home/AgregarAlumno/@Model.IdMaestro">Agregar alumnos</a>
    <div class="lista">
        <br /><br />
        <table>
            <thead>
                <tr>
                    <th style="width: 10%">No. Control</th>
                    <th style="width: 74%">Nombre</th>
                    <th style="width: 8%"></th>
                    <th style="width: 8%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var alumno in Model.Alumno)
                {
                    <tr>
                        <td>@alumno.NoControl</td>
                        <td>@alumno.Nombre</td>
                        <td>
                            <a href="~/Home/EditarAlumno/@alumno.IdAlumno">Editar</a>
                        </td>
                        <td>
                            <a href="#" onclick="eliminar(@alumno.IdAlumno)">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <br />
        <br />
        @if (User.IsInRole("Maestro"))
        {
            <a href="~/Home/Index">Volver a la p&aacute;gina principal</a>
        }
        else if (User.IsInRole("Director"))
        {
            <a href="~/Home/ListaMaestros/@Model.IdMaestro">Volver al listado de maestros</a>
        }
    </div>

<form method="post" action="~/Home/EliminarAlumno">
    <input type="number" name="IdAlumno" id="IdAlumno" hidden />
</form>
<script>
    function eliminar(id)
    {
            document.getElementById("IdAlumno").value = id;
            document.querySelector("form").submit();
    }
</script>