@model Act1_ControlCuentas.Models.Usuario
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<h1>Cambiar contrase&ntilde;a:</h1>
<form method="post" action="~/Home/CambiarContra">
    <label>Contrase&ntilde;a actual:</label>
    <input type="password" asp-for="Contra" name="contra" required />
    <br /><br />
    <label>Nueva contrase&ntilde;a:</label>
    <input type="password" name="newContra" required />
    <br />
    <input type="text" name="correo" value="@User.Claims.FirstOrDefault(x=>x.Type=="Correo").Value" style="visibility:hidden" />
    <br />
    <label>Confirmar contrase&ntilde;a:</label>
    <input type="password" name="newConfirm" required />
    <br />
    <br />
    @Html.ValidationSummary()
    <input type="submit" value="Registrarme" onclick="registrarUsuario()" />
    <br />
    <br />
</form>