@model Act1_ControlCuentas.Models.Usuario
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<h1>Reestablecer contrase&ntilde;a:</h1>
<p>Favor de ingresar el correo electr&oacute;nico<br />con el que se ha registrado.<br /><br />Le haremos llegar su nueva contrase&ntilde;a.</p>
<form method="post" action="~/Home/RecuperarContra">
    <input type="email" name="correo" required />
    <br />
    <br />
    <input type="submit" value="Enviar" />
</form>