@model Act1_ControlCuentas.Models.Usuario
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<h1>Regístrate en<br/>VLIVE</h1>

<form method="post" action="~/Home/Registrar">
    <label>Nombre de usuario:</label>
    <input type="text" asp-for="NomUsuario" required /> <br />
    <br />
    <label>Correo:</label>
    <input type="email" asp-for="Correo" required /> <br />
    <br />
    <label>Contrase&ntilde;a:</label>
    <input type="password" asp-for="Contra" name="contra1" required /> <br />
    <br />
    <label>Confirmar contraseña:</label>
    <input type="password" asp-for="Contra" name="contra2" required /> <br />
    <br />
    @Html.ValidationSummary()
    <input type="submit" value="Registrarme" onclick="registrarUsuario()" /> <br />
    <br />
    <label class="registros">¿Ya tienes una cuenta?</label> <a href="~/Home/IniciarSesion">Inicia sesi&oacute;n</a>
</form>