<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/school.png" />
    <link href="~/diseño.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <header>
        <div>
            <nav>
                <ul>
                    <li><img src="~/school.png"></li>
                    <li>Unidad 4</li>
                    <li>Programación Web</li>
                    <li>Roles de Usuario</li>
                    <li>Jessica Alarc&oacute;n</li>
                </ul>
            </nav>
        </div>

    </header>

    <main>
        @RenderBody();
    </main>
</body>
</html>